.search__widget, .sorting__widget, select{
    padding: 7px 15px;
    border: 1px solid #dfe4e4;
    border-radius: 5px;
}
.search__widget input , select{
    border:none;
}
.search__widget input:focus{
    outline: none;
}
.items a{
    text-decoration: none;
}